*{padding: 0;margin: 0;}
html,body{height: 100%;background-color: #EEF5FD;}
.container-fluit{min-width:1300px}
body{padding: 20px 0px 30px 20px;}
.row{padding: 0;margin: 0 0 20px 0;}
.col-sm-3,.col-sm-5,.col-sm-7,.col-sm-4,.col-sm-12{padding-left: 0px;}
h4{font-size: 18px;font-family: "Microsoft YaHei";color: rgb(51, 51, 51);margin-top: 0;margin-bottom: 20px;}
/*.title{padding-left: 20px;padding-right: 20px;}*/
ul{margin: 0;}
.cargo-count,.company-count,.train-count,.short-count,.waybill-count,.location{overflow:hidden;padding: 20px;background-color: #fff;border: 1px solid #dde3ef;}
.more{color: #04A9ED;}
/*璐х墿缁熻*/
.titleDiv{height: 40px;line-height: 40px;background: #eef5fd;border: 1px solid #dde3ef;overflow: hidden;padding: 0 30px;}
.titleDiv span:nth-child(1){font-size: 18px;display: inline-block;width:48%;text-align: left;}
.titleDiv span:nth-child(2){font-size: 18px;display: inline-block;color: #04a9ed;  width: 48%;text-align: right;}
.statisticsUl{scrollbar-shadow-color: #999; overflow: auto;height: 300px;}
.statisticsUl li{list-style: none;margin: 20px 0px;padding: 14px 0;}
.statisticsUl li span:nth-child(1){width:48%;display: inline-block;text-align: left;font-size:16px;}
.statisticsUl li span:nth-child(2){width:48%;display: inline-block;text-align: right;font-size:16px;}
/*浼佷笟缁熻*/
.titleDivs{height: 40px;line-height: 40px;background: #eef5fd;border: 1px solid #dde3ef;overflow: hidden;padding: 0 30px;}
.titleDivs span:nth-child(1){font-size: 18px;display: inline-block;width:50%;text-align: left;}
.titleDivs span:nth-child(2){font-size: 18px;display: inline-block;  width: 20%;text-align: right;}
.titleDivs span:nth-child(3){font-size: 18px;display: inline-block;color: #04a9ed;  width: 20%;text-align: right;}
.statisticsUls{scrollbar-shadow-color: #999; border-left: 1px solid #dde3ef;border-right:1px solid #dde3ef;border-bottom:1px solid #dde3ef;overflow: auto;height: 182px;}
.statisticsUls li{list-style: none;margin: 0px 30px;padding: 8px 0;}
.statisticsUls li span:nth-child(1){width:50%;display: inline-block;text-align: left;}
.statisticsUls li span:nth-child(2){width:20%;display: inline-block;text-align: right;}
.statisticsUls li span:nth-child(3){width:20%;display: inline-block;text-align: right;}
#circle{width: 100%;height:300px; background-color: #fff;}
#line{width: 100%;height:300px; background-color: #fff;}
#circleBulk{width: 100%;height:300px; background-color: #fff;}
#trainLine{width: 100%;height:300px; background-color: #fff;}
/*鐭┏杩愯緭缁熻*/
hr{margin: 0;border: 0; border-top: 1px solid #DDE3EF;}
.short-count h4 span{color: #04A9ED;margin-left: 30px;}
/*杩愬崟缁熻*/
.waybilltimeDiv label{font-size: 14px;font-family: "Microsoft YaHei";color: rgb(51, 51, 51);font-weight: normal;}
.waybillUl li{list-style: none;text-align: center;margin: 10px 0;}
.waybillUl{margin-top: 50px;margin-bottom: 50px;}
.waybillUl li span:nth-child(1){font-size: 18px;width: 80px;display: inline-block;}
.waybillUl li span:nth-child(2){margin-left: 60px;color: #666666;width: 80px;display: inline-block;}
.waybilltimeDiv{margin-top: 10px;}
.dataTimes{position: relative;}
.dataTimes input{border-width: 1px;border-color: rgb(221, 227, 239);border-style: solid;border-radius: 2px;width: 130px;}
.fa-calendar-check-o{position: absolute;color: #03A8ED;top: 5px;right: 3px;}
.newLine{display: inline-block;border: 1px dashed #CCCCCC;width: 90px;}
/*杞﹁締浣嶇疆*/
p{font-size: 18px;font-family: "Microsoft YaHei";color: rgb(51, 51, 51);}
.location ul{list-style: none;padding-left: 20px;}
.location ul span{font-size: 18px;font-family: "Microsoft YaHei";margin-right: 20px;
}
.fa-circle{color:#43CF77;font-size: 10px;margin-right: 10px;vertical-align: 2px;}
/*.location ul li:before{content:"鈥�";color:#43CF77;font-size: 20px;vertical-align: middle;margin-right: 10px;}*/
.iconBllue li{float: left;list-style: none;margin: 0 10px;}
.iconBllue li div{width: 20px;height: 20px;}
.iconBllue1{background: #1d7cdc;}
.iconBllue{float: right;margin-top: 20px;}
.iconBllue2{background: #e5e5e5;}
.totalNum div{float: left;text-align: center;padding: 10px 0;}
.totalNum div p{font-weight: bold;font-size: 50px;}
.totalNum{height: 300px;padding-top: 100px;}
.totalNum span{color: #999999;font-size: 16px;}
.projectForm{float: right;}
.projectForm button{background: #43ce76;border: none;border-radius: 3px !important;padding: 3px 7px !important;}
.projectForm label{color: rgb(51, 51, 51) !important;font-weight: 500 !important;}
.projectForm input,.projectForm select{width: 130px;height: 24px;border-radius: 4px; border: 1px solid #dde3ef;line-height: 24px !important;font-size: 12px; padding-left: 5px;}