.form-group{position: relative;}
form ul{list-style: none;padding: 0;margin: 0 0 0 10px;}
form ul li{float: left; min-width:242px;height: 23px;}
form label{font-weight: normal;font-size: 14px;font-family: "Microsoft YaHei";color: #666666;line-height: 1.2;}
 select, input{width:140px ;border: 1px solid #DDE3EF;height: 28px !important;margin: 5px 0;border-radius: 4px;}
.form-group span{position: absolute;top: 10px ;right: 10px;}
 .reason{vertical-align: top;margin: 5px 0;}
textarea {width:400px !important;border: 1px solid #DDE3EF;height: 60px !important;margin: 5px 0;border-radius: 4px;}
@media screen and (min-width:300px) and (max-width:991px){
	.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
}
