
/*新建模态框*/
.project_info .creat_content{font-size: 14px;font-family: "Microsoft YaHei";color: rgb(51, 51, 51);line-height: 1.2;}
#myForm h5,#myForms h5{color:#FFAE00;margin-top: 0px !important;font-weight: normal;}
#myForm p,#myForms p{color:#04A9ED;margin:10px;}
#myForm hr,#myForms hr{margin-top: 10px !important;margin-bottom: 10px !important;border-top: 1px dashed #D8D8D8 !important;}
#myForm label,#myForms label{font-weight: normal;font-size: 14px;font-family: "Microsoft YaHei";color: #666666;line-height: 1.2;}
#myForm select,#myForm input[type=text],#myForms select,#myForms input[type=text]{width:140px;border: 1px solid #DDE3EF;;height: 28px;margin: 5px 0;border-radius: 4px;}
#myForm .form-group,#myForms .form-group{padding:0!important;position: relative;margin: 0 15px!important;}
.driverUl{overflow: hidden;padding: 0;}
.driverUl li{list-style: none;float: left;min-width:230px;margin: 5px 0;color: #666666;}
.driverUl li span{color: #333333;}
#myForm .form-group span {
    position: absolute;
    top: 10px;
    right: 5px;
    color: #C0C0C0;
}

#myForms .form-group span {
     position: absolute;
    top: 10px;
    right: 10px;
    color: #C0C0C0;
}
.waitUl{overflow:hidden;padding-left: 0 !important;}
.waitUl li{float: left;list-style: none;min-width: 222px;margin: 2px 10px;}
#myForm .project_info{margin-left: 20px;}
