.pull-left a{color: #000;}
.pull-right a{color: #4E88EA;}
form{margin-bottom: 10px;}
form label{font-size: 18px;font-family: "Microsoft YaHei";color: rgb(51, 51, 51);font-weight: normal;}
.form-group{margin-bottom: 20px !important;}
.top{background: #393945;text-align: center;}
.top>div{width: 500px;margin: 0 auto;padding: 140px 0;}
.bottom>div{width: 500px;margin: 0 auto;}
.title{font-size: 60px;font-family: "Microsoft YaHei";color: rgb(255, 255, 255);line-height: 1.2; margin-top: 40px;margin-bottom: 20px;}
.small-title{font-size: 19px;font-family: "Microsoft YaHei";color: rgb(255, 255, 255);line-height: 1.2;}
.btn,.btn:hover{background: #393945;color: #fff;height: 45px;border-radius: 4px;}
.form-control{height: 45px;border-radius: 4px;}
.prompt{color: red;padding: 10px 0;visibility: hidden;}
