 form ul{list-style: none;padding: 0px;}
 form ul li{float: left;min-width: 235px;}
 form table th{background-color:#EEF5FD ;font-weight: normal;border-bottom: none !important;}
form .table-responsive{max-height: 213px;}
form  th{background-color: #EEF5FD;text-align: center;font-size: 14px;padding: 5px !important; border-right: 1px solid #DDE3EF;}
form tr td{padding: 0 8px!important;border-right: 1px solid #DDE3EF;font-size: 12px;vertical-align: middle;}
form label{font-weight: normal;font-size: 14px;font-family: "Microsoft YaHei";color: #666666;line-height: 1.2;}
form select,input[type=text]{width:140px;border: 1px solid #DDE3EF;;height: 28px;margin: 5px 0;border-radius: 4px;}